@import url('https://fonts.googleapis.com/css2?family=Corben:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 15px;
    background-image: url("images/weather-foto/depositphotos_61868743-stock-photo-weather-forecast-concept.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
}

::selection {
    color: black;
    background: white;
}

.weather-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: #fff7f7;
    font-size: 14px;
    background-color: rgba(26, 26, 85, 0.8);
    border-radius: 10px;
    margin: 20px;
    box-shadow: 4px 4px 10px #240643;
}

.weather-header h3 {
    margin: 15px 0;
    font-size: 28px;
    text-align: center;
}

.weather-header form {
    display: flex;
    gap: 8px;
    width: 100%;
    max-width: 400px;
}

.weather-header form input {
    flex: 3;
    padding: 10px;
    outline: none;
    border: 1px solid #00d6dd;
    border-radius: 4px;
    background-color: #ffffff;
    font-size: 16px;
}

.weather-header form button {
    flex: 1;
    border: none;
    border-radius: 4px;
    background-color: #a8c8ef;
    cursor: pointer;
    color: #000000;
    transition: all 0.4s;
}

.weather-header form button:hover {
    background-color: #000000;
    color: #a8c8ef;
    border: 1px solid #a8c8ef;
}

/* Weather Details */
.weather {
    display: grid;
    gap: 20px;
    padding: 10px;
    grid-template-columns: repeat(2, 170px);
    grid-template-rows: repeat(2, 170px);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.cityName {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 80px;
    font-weight: bold;
    color: #a8c8ef;
}

.weather-icon {
    width: 150px;
    height: 100px;
    object-fit: contain;
}

.weather-days {
    background: none;
}

.temp, .humidity, .windSpeed, .compass {
    border: 1px solid #040419;
    background-color: rgba(47, 47, 128, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
}

.sunriseTime, .sunsetTime {
    margin-top: 16px;
    margin-bottom: 10px;
}

.humidityP, .windSpeedP {
    margin-top: 40px;
}

.temperature {
    margin-top: 40px;
}

.date-time {
    font-size: 18px;
    color: #a8c8ef;
    display: block;
}

.weather .wind,
.weather .compass {
    text-align: center;
}

.weather .wind img,
.weather .compass img {
    display: block;
    margin: 0 auto;
}

.modal-overlay.active {
    display: block;
}

.modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    display: none;
    z-index: 1000;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    overflow-y: auto;
}

.modal-overlay.show {
    display: block;
    animation: slide-in 0.3s ease-out; /* Анимация появления */
}

/* Анимация для плавного появления справа */
@keyframes slide-in {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.modal-content {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    z-index: 1100;
}

.weather-hidden {
    display: none;
}

.forecast-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.forecast-day {
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
}

.forecast-day img {
    max-width: 50px;
    margin-bottom: 10px;
}

.forecast-day p {
    margin: 5px 0;
}

.forecast-container h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
    font-weight: bold;
}

/* Button Container */
.button-container {
    position: relative;
}

.hourly-weather {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.hour-weather {
    width: 80px;
    text-align: center;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px;
}

.weather-icon {
    width: 40px;
    height: 40px;
}
